{% extends 'base.html' %}

{% block title %}admin Dashboard{% endblock %}

{% block content %}
    <h2>Welcome to your Dashboard</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
        <a href="{{ url_for('class_list') }}">Class List</a><br>
        <a href="{{ url_for('register_classes') }}">register_classes</a><br>
        <a href="{{ url_for('attendance') }}">Attendance</a><br>
        <a href="{{ url_for('student') }}">students</a><br>
        <a href="{{ url_for('register') }}">register user</a><br>
        <a href="{{ url_for('change_password') }}">change password</a><br>
        <a href="{{ url_for('upload') }}">upload</a><br>
        <a href="{{ url_for('admin_dashboard') }}">admin dashboard</a><br>
        <a href="{{ url_for('logout') }}">Logout</a>
  
{% endblock %}
