{% extends 'base.html' %}

{% block title %}Class List{% endblock %}

{% block content %}



    <h2>class List</h2>
        <ul>
            {% for c in classes%}
                <li>
                    {{ c.class_name}} - {{ c.class_code }}
                </li>            
            {% endfor %}
        </ul>

    <h2>Attendance List</h2>
    <ul>
        {% for a in attend%}
            <li>
                {{ a.student_id}} - {{ a.status }} - {{ a.date }}
            </li>            
        {% endfor %}
    </ul>

    <h2>lecture</h2>
    
    
    <h2>user_list</h2>
    <ul>
        {% for item in items %}
            <li>
                {{ item.username}} - {{ item.email }}- {{ item.student }} - {{ item.lecture }}   
            </li>            
        {% endfor %}
    </ul>

    <h2>Student List</h2>
    <ul>
        {% for c in reg_students %}
            <li>
                {{ c.first_name }} - {{ c.last_name }} - {{ c.email }}
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}