{% extends 'base.html' %}

{% block title %}teacher Dashboard{% endblock %}

{% block content %}
    <h2>Welcome to your Dashboard</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
        <a href="{{ url_for('class_list') }}">Class List</a><br>
        <a href="{{ url_for('change_password') }}">change password</a><br>
        <a href="{{ url_for('upload') }}">upload</a><br>
        <a href="{{ url_for('logout') }}">Logout</a>
    
  
{% endblock %}
